/* Font */
@baseFontFamily: 'Open Sans', Arial, Helvetica, Tahoma, sans-serif;
@headingsFontFamily: @baseFontFamily;
@inputFontFamily: @baseFontFamily;

/* Type */
@baseFontSize: 14;
@baseLineHeight: 1.65;
@baseLine: @baseFontSize * @baseLineHeight;

/* Colors */
@black: #000000;
@white: #ffffff;
@blue: #00b1eb;
@blueDark: #02285e;
@grey: #f5f8fa;
@textColor: #000000;
@borderColor: #d8d9da;
@red: #C00;
/* Grid */
@gridWidth: 1240;
@gridGutterWidth: 40;

/* Misc sizes */
@listsLeft: 2em;
@columnarWidth: 150px;
@columnarMargin: 20px; 
 
/* FloatingImages */
@floatingPadding: 0;
@floatingBorder: none;

/* Util */
@em: @baseFontSize*1em;

/* Maximum margin that is used in website */
@iterations: 25;