#content {
	position: relative;
	padding-top: 50px;

	#progress_bar {
		display: block;
		width: 100%;
		padding: 22px 0 22px 75px;
		background: @white;
		cursor: pointer;
		.border-radius(5px);
		position: relative;

		.icon-holder {
			min-width: 60px;
			min-height: 60px;
			font-size: 25px;
			color: @blue;
			background: @white;
			border: 2px solid @greyLight;
			float: left;
			.border-radius(100%);
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;

			img {
				position: absolute;
				left: 50%;
			    top: 50%;
			    transform: translate(-50%,-50%);
			}
		}


		.progress-bar {
			width: 80%;
			background: @greyLight;
			.border-radius(5px 5px 5px 5px);
			margin-top: 3px;
			position: relative;
			float: left;
			height: 10px;

			.progress-width {
				background: @blue;
				.border-radius(5px 5px 5px 5px);
				padding: 0;
				height: 10px;
			}

			.progress-improvement {
				background: green;
				.border-radius(0 15px 15px 0);
				padding: 0 10px;
				color: @white;
				text-align: center;
				position: absolute;
				top: 0;
			}
		}

		.progress-amount {
			width: 20%;
			float: left;
			font-family: @VWHEAD;
			font-size: 13px;
			text-align: right;
			line-height: 15px;
			margin-top: 2px;
		}
	}

	.progress_diagram {
		margin: 0 auto;
		padding: 25px;
		height: 150px;
		width: 150px;
		line-height: 100px;
		text-align: center;
		position: relative;
		color: @blue;
		font-size: 50px;

		span {
			font-size: 25px;
		}

		&:before {
			width: 100%;
			height: 100%;
			border: 15px solid @blue;
			.border-radius(100%);
			content: " ";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}

		&:after {
			width: 100%;
			height: 100%;
			border: 15px solid @blueDark;
			.border-radius(100%);
			content: " ";
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			clip: rect(0px, 100px, 75px, 0);
			-ms-transform: rotate(90deg);
		    -webkit-transform: rotate(90deg);
		    transform: rotate(90deg);
		}

		&.big:after {
			clip: rect(0px, 150px, 75px, 0);
		}
	}

	.profile {
		.border-radius(100%);
		width: 200px;
		height: 200px;
		display: block;
		margin: 0 auto;
		clear: both;
	}

	.image_holder {
		position: relative;

		img {
			width: 100%;
		}

		.icon_holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0, 0.75);

			i {
				position: absolute;
				margin-left: -15px;
				margin-top: -20px;
				top: 50%;
				left: 50%;
				font-size: 40px;
				color: @white;
				cursor: pointer;

				&:hover {
					color: @blue;
				}
			}
		}
	}

	section {
		padding: 30px 15px;
		position: relative;
		.clearfixing;

		&.white {
			background-color: @white;
		}
		
		&.blue {
			background-color: @blue;
		}
		
		&.grey {
			background-color: @grey;
		}

		&.detail {
			color: @blueLight;
			font-size: 13px;
		}
		
		&.no_padding {
			padding: 0;
		}
		
		&.no_padding_top {
			padding-top: 0;
		}

		&.border_top {
			border-top: 1px solid @greyLight;
		}

		&.border_bottom {
			border-bottom: 1px solid @greyLight;
		}

		&.grey.border_top, &.grey .border_bottom {
			border-color: @greyDark;
		}

		&.grey.border_top.border_light, &.grey.border_bottom.border_light {
			border-color: @greyLight;
		}

		&.border_top.border_dark, &.border_bottom.border_dark {
			border-color: @greyDark;
		}
		
		> *:first-child {
			margin-top: 0;
		}
		
		&#search {
			position: relative;

			input {
				width: 100%;
				padding-left: 35px;
			}

			i {
				position: absolute;
				left: 30px;
				top: 41px;
			}
		}

		#infoOpener {
			display: block;
			text-align: right;
			font-size: 18px;
			margin-top: 15px;
		}

		input[name="search"]{
			display: block;
			margin-top: 15px;
		}
		
		&#hulp {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-top: 10px;

					&:first-child {
						margin-top: 0;
					}

					.btn {
						display: block;
						width: 100%;
					}
				}
			}
		}

		&#feedback {
			ul {
				margin: 15px 0 0 0;
				padding: 0;
				list-style: none;

				li {
					margin-top: 10px;
					position: relative;

					&:first-child {
						margin-top: 0;
					}

					&.hide {
						display: none;
					}

					.icon-holder {
						min-width: 40px;
						min-height: 40px;
						font-size: 25px;
						color: @blue;
						background: @white;
						border: 2px solid @greyLight;
						float: left;
						.border-radius(100%);
						text-align: center;
						position: absolute;
						top: 22px;
						left: 10px;

						img {
							position: absolute;
							left: 50%;
						    top: 50%;
						    max-width: 22px !important;
						    max-height: 17px;
						    transform: translate(-50%,-50%);
						}
					}


					p {
						margin: 0;
						background-color: @grey;
						padding: 20px 15px 20px 65px;
						margin-top: 10px;
						font-family: @VWHEAD;
						.border-radius(5px);

						&.white {
							background-color: @white;
						}
					}

					&.white p {
						background-color: @white;
					}

					div {
						text-align: right;
						font-size: 11px;
					}
				}
			}
		}

		&#map {
			width: 100%;
			overflow: hidden;
		}

		.shortcut_link {
			float: right;
			clear: both;
			display: inline-block;
			color: @blueDark;
			margin-top: 15px;

			i {
				margin-right: 10px;
				color: @blue;
			}
		}
	}
}