
/* FORM STYLES */
@input_width: 100%;
@error: #C00;
@errorLight: #fef5f1;
@succes: green;
@correct: #07C674;

.error {
	color: @error;	
}
.succes {
	color: @succes;	
}
input[type="text"],input[type="password"], input[type="number"], input[type="email"], select, textarea {
	padding: 10px;
	color: @textColor;
	font-size: 14px;
	line-height: 20px;
	height: 40px;
	display: inline-block;
	font-weight: bold;	
	border: 1px solid @grey;
	.transition();
	background: @white;
	
	&.error {
		border-color: @error;
	}
	
	&:focus {
		border-color: @blue;
		color: @blue;	
	}
	
}
input[type="checkbox"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	width: 15px;
	height: 15px;
	.border-radius(0);
	border: 1px solid @borderColor;
	background: @white;
	position: relative;
	display: inline-block;
	&:checked {
		background: @blue !important;
		border-color: @blue !important;
		
		&:before {
			content: "\f00c";
			position: absolute;
			font-size: 10px;
			color: @white;
			width: 14px;
			height: 15px;
			top: 0;
			left: 0;
			line-height: 14px;
			text-align: center;
			font-family: FontAwesome;
		}
	}
	
}


input[type="radio"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	width: 15px;
	height: 15px;
	.border-radius(100%);
	border: 1px solid @borderColor;
	background: @white;
	&:checked {
		background: @blue;
		border: 3px solid @blueDark !important;	
	}
}



.btn{
	border: none;
	.border-radius(0);
	display: inline-block;
	text-decoration: none;
	color: @white;
	background: @blue;
	padding: 8px;
	line-height: 20px;
	border: 2px solid @blue;
	font-weight: 600;
	.transition();
	
	&:hover{
		border-color: @blueDark;
		background: @blueDark;
		
		text-decoration: none;
	}
}
.form_row {
	width: 100%;	
	margin: 0 0 10px 0;
	
	label{
		line-height:35px;
		color: @black;
		&.width-auto {
			width: auto;	
		}
	}
	
	input[type=text],input[type=password],input[type="number"], input[type="email"],select, textarea {
		width: @input_width;
		border:1px solid @grey;
		
		&.error {
			border-color: @error;	
			background: @errorLight;
		}
		&:focus {
			border-color: @blue;
		}
		&.picker__select--month, &.picker__select--year {
			width: inherit;
		}
	}
	select {
		height: 40px;	
		background: @white;
	}
	textarea {
		height: 150px;
	}
	.form_error {
		color: @error;
		font-style: italic;	
	}
	&.radio {
		.form_input {
			input[type="radio"] {
				float: left;
				margin: 10px 5px 0 0;
			}
			label {
				float: left;
				width: auto;
				margin-right: 15px;
			}	
		}
	}
	&.full {
		.form_input {
			width: 100%;	
		}
	}
	.form_label {
		label {
			width: 100%;
			font-weight: bold;	
			color: @blue;
			font-size: 15px;
		}
	}
	
	&.units-row > div.unit-30, &.units-row > div.unit-70 {
		margin-top: 0 !important;	
	}
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:   @textColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   @textColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   @textColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   @textColor;
}

.error {
	input[type=text],input[type=password],input[type="number"], input[type="email"], input[type="checkbox"],select, textarea {
		border-color: @error;
		background: @errorLight;
	}
	span{
		color: @error;
		font-style: italic;
		width: @input_width;
	}
	
	&:focus { 
		border: 2px solid @red;
	}	
}
.correct {
	border: 1px @correct solid !important;	

	span{
		color: @correct;
		font-style: italic;
		width: @input_width;
	}

}