input[type="text"],input[type="password"], input[type="number"], input[type="email"], select, textarea {
	padding: 10px 15px;
	color: @textColor;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	font-weight: bold;	
	border: 1px solid @greyLight;
	.transition();
	background: @white;
	width: 100%;
	
	&:focus {
		border-color: @greyDark;
		background-color: @greyLight;
		color: @black;	
		.placeholder(@black);
	}
}

input[type="checkbox"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	width: 15px;
	height: 15px;
	.border-radius(0);
	border: 1px solid @borderColor;
	background: @white;
	position: relative;
	display: inline-block;

	&:checked {
		background: @blue !important;
		border-color: @blue !important;
		
		&:before {
			content: "\f00c";
			position: absolute;
			font-size: 10px;
			color: @white;
			width: 14px;
			height: 15px;
			top: 0;
			left: 0;
			line-height: 14px;
			text-align: center;
			font-family: FontAwesome;
		}
	}
	
}

input[type="radio"] {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	width: 15px;
	height: 15px;
	.border-radius(100%);
	border: 1px solid @borderColor;
	background: @white;
	&:checked {
		background: @blue;
		border: 3px solid @blueDark !important;	
	}
}

.btn{
	border: none;
	.border-radius(5px);
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: @white;
	background: @blue;
	padding: 10px 20px;
	line-height: 30px;
	border: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	.transition();
	
	&:hover{
		border-color: @blueDark;
		background: @blueDark;
		
		text-decoration: none;
	}

	&.blueDark {
		background: @blueDark;
		border-color: @blueDark;

		&:hover {
			background: @blue;
			border-color: @blue;
		}
	}

	&.full {
		text-align: center;
		width: 100%;
		display: block;
	}
}