#ritten {
	ul {
		margin: 15px 0 15px 0;
		padding: 0;
		list-style: none;

		li {
			background-color: @grey;
			padding: 10px 15px 10px;
			margin-top: 10px;
			font-family: @VWHEAD;
			font-size: 13px;
			.border-radius(5px);

			h3 {
				font-size: 15px;
			}

			&:first-child {
				margin-top: 0;
			}

			&.hide {
				display: none;
			}
		}
	}

	p {
		margin: 0;
	}
}