#ritten {
	ul {
		margin: 15px 0 15px 0;
		padding: 0;
		list-style: none;

		li {
			background-color: @grey;
			padding: 15px 20px 15px;
			margin-top: 10px;
			font-family: @VWHEAD;
			font-size: 13px;
			.border-radius(5px);

			&:first-child {
				margin-top: 0;
			}

			&.hide {
				display: none;
			}
		}
	}

	p {
		margin: 0;
	}
}