#suggesties {
	ul {
		li {
			text-align: center;
			background-color: @greyDark;
			padding: 10px;

			i {
				font-size: 40px;
				color: @blueDark;
			}

			h3 {
				margin: 0 0 5px 0;
				color: @blueDark;
			}
		}
	}
}